# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual Environment
ven/
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Streamlit cache / temp
.streamlit/

# Optional: Jupyter checkpoints
.ipynb_checkpoints/
